<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h3 class="app-name">{{ user?.displayName }}</h3>
    <a mat-icon-button [routerLink]="'/profile/' + user?.uid">
      <span><img *ngIf="user" class="avatar" src="{{ user?.photoURL }}"  alt=""/></span>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="navlist">
        <mat-list>
          <mat-list-item>
            <button mat-icon-button (click)="exit()" name="sair">
              <span class="button-exit">Sair</span>
            </button>
          </mat-list-item>
          <mat-list-item>
            <h3>Privadas</h3>
          </mat-list-item>
          <app-navigation-privates></app-navigation-privates>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <div class="timeline">
        <app-timeline></app-timeline>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
